@page
@model Parole.Pages.Forum.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center display-2">Sujets</h1>
<hr />

<div class="container-fluid">
    @if (Object.ReferenceEquals(Model.Subjects, null))
    {
        @foreach (var subject in Model.Subjects)
        {
            <div class="container card shadow col-sm-8 bg-danger">
                <div class="card-body">
                    <h3>@Html.DisplayFor(s => subject.Title)</h3>
                </div>
                <div class="card-footer">
                    <small>@Html.DisplayFor(s => subject.DateDAjout)</small>
                </div>
            </div>
        }
    }
    else
    {
        <div class="container card-body shadow col-sm-8 bg-danger">
            <h3 class="text-center">Pas de sujet disponible pour le moment</h3>
        </div>
    }
</div>

