@page
@model Parole.Pages.Forum.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center display-2">Sujets</h1>
<hr />

<div class="container-fluid">
    <div class="container card-body shadow col-sm-8 bg-danger">
        <h3>----Sujet-----</h3>
    </div>
</div>

